:root {
  --clr-pri: #0d2048;
  --clr-sec: #10681f;

  --clr-info-bg: #d9edf7;
  --clr-info-txt: #31708f;
  --clr-info-bdr: #bce8f1;
  --clr-success-bg: #dff0d8;
  --clr-success-txt: #3c763d;
  --clr-success-bdr: #d6e9c6;
  --clr-danger-bg: #f2dede;
  --clr-danger-txt: #a94442;
  --clr-danger-bdr: #ebccd1;
  --clr-warning-bg: #fcf8e3;
  --clr-warning-txt: #8a6d3b;
  --clr-warning-bdr: #faebcc;

  --clr-black: #000000;
  --clr-text: #393e46;
  --clr-bg-1: #93948d;
  --clr-bg-2: #d2d3c9;
  --clr-bg-3: #e1e8eb;
  --clr-bg-4: #e4efe7;
  --clr-bg-5: #fdfaf6;
  --clr-bg-6: #f9f9f9;
  --clr-white: #ffffff;

  --clr-req-red: #f55c47;

  --ft-head: "Limelight", cursive;
  --ft-cur: "Dancing Script", cursive;
  --ft-pri: "Ubuntu", sans-serif;
  --ft-sec: "Montserrat", sans-serif;
  --ft-text: "Poppins", sans-serif;

  --header-height: 4rem;
  --footer-height: 2.5rem;
}

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
