@font-face {
    font-family: "Limelight";
    src: url("../Fonts/Limelight-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("../Fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../Fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../Fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../Fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "Ubuntu";
    src: url("../Fonts/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 700;
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("../Fonts/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  @font-face {
    font-family: "Ubuntu";
    src: url("../Fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  