.all-policies {
  padding: 2rem;
  background-color: var(--clr-bg-6);
  .user-action-row {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin: 0 0 2rem 0;
    .search-label {
      width: 30%;
      input {
        font-family: var(--ft-text);
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        // width: 30%;
        border: 0.1rem solid var(--clr-pri);
        &:hover,
        &:focus,
        &:focus-visible {
          outline: none;
          border: 0.1rem solid var(--clr-pri);
          box-shadow: none;
        }
      }
    }

    // .sort-dropdown {
    //   width: 15%;
    // &.show {
    //   button {
    //     background-color: var(--clr-pri) !important;
    //     color: var(--clr-white);
    //     border-color: var(--clr-pri);
    //   }
    // }
    // button {
    //   width: 100%;
    //   background-color: transparent;
    //   color: var(--clr-pri);
    //   border: 0.1rem solid;
    //   font-size: 0.8rem;
    //   padding: 0.25rem;
    //   &:active,
    //   &:hover {
    //     background-color: var(--clr-pri) !important;
    //     color: var(--clr-white);
    //     border-color: var(--clr-pri);
    //   }
    // }
    // .dropdown-menu {
    //   width: 100%;
    //   transform: translate(0, 2rem) !important;
    //   padding: 0;
    //   @include box-shadow(0 0.25rem 1rem 0.1rem var(--clr-text));
    //   &.show {
    //     a {
    //       color: var(--clr-text);
    //       font-size: 0.8rem;
    //       padding: 0.5rem 1rem;
    //       font-family: var(--ft-text);
    //       border-bottom: 0.1rem solid;
    //       &:last-child {
    //         border-bottom: none;
    //       }
    //       &.active {
    //         background-color: transparent;
    //       }
    //       &:hover {
    //         background-color: var(--clr-bg-3);
    //       }
    //     }
    //     svg {
    //       fill: var(--clr-sec);
    //       height: 1.2rem;
    //       width: auto;
    //     }
    //   }
    // }
    // }
  }
}
